@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'LeeSeoyun'!important;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;

  font-size: 30px;
}
.screen-header h1 {
  margin: 0;
}
.form {
  display: flex;
  width: 98%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(141, 175, 203);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.form input,
.form span,
.form button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  height: 30px;
}

.form input:hover,
.form span:hover,
.form button:hover {
  border: 2px solid steelblue;
}

.form button {
  font-size: 20px;
  padding: 20px;
  font-family:'Courier New', Courier, monospace ;
}

.main {
  width: 95%;
  height: 100%;
  
}

.working,
.done {
  display: flex;
  flex-wrap: wrap;
}

.todo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid steelblue;
  border-radius: 20px;
  width: auto;
  height: 120px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;

}

.todo-box .title {
  margin-bottom: 10px;
}

.btns {
  display: flex;
  margin: 20px;
  gap: 10px
}

.btns button:first-child {
  border: 2px dotted rgb(255, 92, 92);
  border-radius: 10px;
  padding: 5px 20px;
}
.btns button:first-child:hover {
  border: 2px solid rgb(255, 92, 92);
}

.btns button:last-child {
  border: 2px dotted rgb(0, 143, 38);
  border-radius: 10px;
  padding: 5px 20px;
}
.btns button:last-child:hover {
  border: 2px solid rgb(0, 143, 38);
}